# Python cache files
__pycache__/
*.py[cod]

# Environment files
env/
venv/
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Compiled files
*.so
*.dll
*.dylib
*.pyd

# Logs
*.log

# Static and media files
app/static/*.png
app/static/*.jpg
app/static/*.jpeg
app/static/*.gif

# Python package files
build/
dist/
*.egg-info/

# IDE files
.vscode/
*.idea/

# Temporary files
*.tmp
*.temp
*.bak
*.swp
*.swo

# Ignore node_modules if any frontend tools are used
node_modules/
